@model Geo.Models.Absence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Absence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.absenceReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.absenceReason)
        </dd>
        <dt class = "col-sm-2">
            User
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Name.fname
            @ViewBag.Name.lname
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.approved)
        </dt>
        <dd class = "col-sm-10">
            @{
                switch (@Model.approved)
                {
                    case "0":
                            <text>
                                <p>Not approved</p>
                            </text>
                    break;  

                    case "1":
                            <text>
                                <p>Approved</p>
                            </text>
                    break;  

                    case "2":
                            <text>
                                <p>In review</p>
                            </text>
                    break;  

                    default:
                            <text>
                                <p>In review</p>
                            </text>
                    break;  
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
